python-dotenv
google-genai
requests
beautifulsoup4
youtube-transcript-api
sentence-transformers
torch
transformers
PyMuPDF
fastapi 
uvicorn[standard] 
sqlalchemy 
python-multipart 
passlib[bcrypt] 
python-jose[cryptography] 
pydantic
axios